gcp_citibike.yaml
id: gcp_citibike
namespace: zoomcamp
description: |
  NYC Citibike trip data ingestion to GCS and BigQuery.
  Data source: https://s3.amazonaws.com/tripdata/

inputs:
  - id: year
    type: SELECT
    displayName: Select year (new schema from 2022 onward)
    values: ["2022", "2023", "2024"]
    defaults: "2024"
    allowCustomValue: true

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.year}}{{inputs.month}}-citibike-tripdata.csv"
  zip_file: "{{inputs.year}}{{inputs.month}}-citibike-tripdata.zip"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/citibike/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.citibike_tripdata_{{inputs.year}}_{{inputs.month}}"
  data: "{{outputs.extract.outputFiles[inputs.year ~ inputs.month ~ '-citibike-tripdata.csv']}}"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"
      year: "{{inputs.year}}"
      month: "{{inputs.month}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO {{render(vars.zip_file)}} https://s3.amazonaws.com/tripdata/{{render(vars.zip_file)}} && python3 -c "import zipfile, os; zf = zipfile.ZipFile('{{render(vars.zip_file)}}'); zf.extractall('.'); extracted = [n for n in zf.namelist() if n.endswith('.csv')][0]; os.rename(extracted, '{{render(vars.file)}}') if extracted != '{{render(vars.file)}}' else None" && rm {{render(vars.zip_file)}}

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: bq_citibike_tripdata
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.citibike_tripdata`
      (
          unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
          filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),
          ride_id STRING OPTIONS (description = 'Unique identifier for each ride.'),
          rideable_type STRING OPTIONS (description = 'Type of bike used: classic_bike, electric_bike, or docked_bike.'),
          started_at TIMESTAMP OPTIONS (description = 'Date and time when the trip started.'),
          ended_at TIMESTAMP OPTIONS (description = 'Date and time when the trip ended.'),
          start_station_name STRING OPTIONS (description = 'Name of the station where the trip started.'),
          start_station_id STRING OPTIONS (description = 'ID of the station where the trip started.'),
          end_station_name STRING OPTIONS (description = 'Name of the station where the trip ended.'),
          end_station_id STRING OPTIONS (description = 'ID of the station where the trip ended.'),
          start_lat FLOAT64 OPTIONS (description = 'Latitude of the start station.'),
          start_lng FLOAT64 OPTIONS (description = 'Longitude of the start station.'),
          end_lat FLOAT64 OPTIONS (description = 'Latitude of the end station.'),
          end_lng FLOAT64 OPTIONS (description = 'Longitude of the end station.'),
          member_casual STRING OPTIONS (description = 'Indicates whether the rider is a member or a casual rider.')
      )
      PARTITION BY DATE(started_at);

  - id: bq_citibike_table_ext
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
      (
          ride_id STRING OPTIONS (description = 'Unique identifier for each ride.'),
          rideable_type STRING OPTIONS (description = 'Type of bike used: classic_bike, electric_bike, or docked_bike.'),
          started_at TIMESTAMP OPTIONS (description = 'Date and time when the trip started.'),
          ended_at TIMESTAMP OPTIONS (description = 'Date and time when the trip ended.'),
          start_station_name STRING OPTIONS (description = 'Name of the station where the trip started.'),
          start_station_id STRING OPTIONS (description = 'ID of the station where the trip started.'),
          end_station_name STRING OPTIONS (description = 'Name of the station where the trip ended.'),
          end_station_id STRING OPTIONS (description = 'ID of the station where the trip ended.'),
          start_lat FLOAT64 OPTIONS (description = 'Latitude of the start station.'),
          start_lng FLOAT64 OPTIONS (description = 'Longitude of the start station.'),
          end_lat FLOAT64 OPTIONS (description = 'Latitude of the end station.'),
          end_lng FLOAT64 OPTIONS (description = 'Longitude of the end station.'),
          member_casual STRING OPTIONS (description = 'Indicates whether the rider is a member or a casual rider.')
      )
      OPTIONS (
          format = 'CSV',
          uris = ['{{render(vars.gcs_file)}}'],
          skip_leading_rows = 1,
          ignore_unknown_values = TRUE
      );

  - id: bq_citibike_table_tmp
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
      AS
      SELECT
        MD5(CONCAT(
          COALESCE(CAST(ride_id AS STRING), ""),
          COALESCE(CAST(started_at AS STRING), ""),
          COALESCE(CAST(ended_at AS STRING), ""),
          COALESCE(CAST(start_station_id AS STRING), ""),
          COALESCE(CAST(end_station_id AS STRING), "")
        )) AS unique_row_id,
        "{{render(vars.file)}}" AS filename,
        *
      FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

  - id: bq_citibike_merge
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.citibike_tripdata` T
      USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
      ON T.unique_row_id = S.unique_row_id
      WHEN NOT MATCHED THEN
        INSERT (unique_row_id, filename, ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual)
        VALUES (S.unique_row_id, S.filename, S.ride_id, S.rideable_type, S.started_at, S.ended_at, S.start_station_name, S.start_station_id, S.end_station_name, S.end_station_id, S.start_lat, S.start_lng, S.end_lat, S.end_lng, S.member_casual);

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
